html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  border: 1px solid transparent; /* without this, the app will overflow the body */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: blanchedalmond;
}

#app {
  box-sizing: border-box;
  margin: 0.5rem;
  border: 3px solid burlywood;
  box-shadow: 3px 3px 10px burlywood;
  border-radius: 4px;
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
